<!-- views/partials/footer.ejs -->

<!--<div class="footer">
	<div class="container">
		<p class="text-center text-muted footer-copyright">© Copyright 2014 The Awesome People</p>
	</div>
</div>-->

<!-- Bootstrap -->
<script src="/js/jquery-1.10.1.min.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>

<!-- Bootflat's JS files.-->
<script src="/bootflat/js/icheck.min.js"></script>
<script src="/bootflat/js/jquery.fs.selecter.min.js"></script>
<script src="/bootflat/js/jquery.fs.stepper.min.js"></script>

<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.4/angular.min.js"></script>
<!-- load angular -->
<script src="/angular/controller/todoController.js"></script>
<script src="/angular/service/todoService.js"></script>
<script src="/angular/core.js"></script>