<!-- views/partials/head.ejs -->

<!-- META -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Optimize mobile viewport -->

<title>Node/Angular Todo App <%= title %></title>

<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="/bootflat/css/bootflat.min.css">
<style>
	html { overflow-y : scroll; }
	body { padding-top : 50px; background-color : #ededed; }
	#todo-list {margin-bottom : 30px; }
</style>

<!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
<!--[if lt IE 9]>
      <script src="/js/html5shiv.js"></script>
      <script src="/js/respond.min.js"></script>
 <![endif]-->